services:
  - type: web
    name: warehouse-api
    runtime: node
    plan: free
    rootDir: apps/api
    autoDeploy: false
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api
    buildCommand: |
      corepack enable || true &&
      corepack prepare yarn@4.10.3 --activate || true && 
      NODE_OPTIONS="--max-old-space-size=450" yarn install --immutable &&
      NODE_OPTIONS="--max-old-space-size=450" yarn build
    startCommand: NODE_OPTIONS="--max-old-space-size=384" && yarn start:prod

  - type: web
    name: warehouse-web
    runtime: node
    plan: free
    rootDir: apps/web
    autoDeploy: false
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /
    buildCommand: |
      corepack enable || true && 
      corepack prepare yarn@4.10.3 --activate || true && 
      NODE_OPTIONS="--max-old-space-size=450" yarn install --immutable && 
      NODE_OPTIONS="--max-old-space-size=450" yarn build
    startCommand: yarn start
